
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    bottom: 23px;
    right: 28px;
  }
  
/* The popup chat - hidden by default */
.chat-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
}

.chart-container{
    position: relative;
    margin: auto;
    height: auto;
    width: auto;
}