html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }
.bg-dark-gray{
    background: #cfd0d1  !important;
}
.bg-blue{
    background: #005f87 !important;
}
.text-blue{
    color: #005f87 !important;
}
.bg-blue-light{
    background: #237396 !important;
}
.bg-dark{
    background: #272c33 !important;
}
.font-size-xxlg{
    font-size: xx-large;
}